

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.pinimg.com/236x/08/3e/49/083e49707e6547c21c8748f9756c479c.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/236x/bd/54/1a/bd541a5172a51d5dd066ca4c71dc8e9b.jpg" class="d-block w-50" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/236x/ba/a4/46/baa44620954380b65d760f3818184523.jpg" class="d-block w-50" alt="...">
      </div>
    </div>
  </div>
  <!-- Navbar end -->

  <!-- Main Section start-->

   <div class="container-fluid ">
    <div class="row">
      <div class="col">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="1"
            ></li>
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="2"
            ></li>
          </ol>
          <!-- <div class="carousel-inner"> -->
            <!-- <div class="carousel-item active">
               <img 
                class="d-block"
                 src="https://i.pinimg.com/236x/08/3e/49/083e49707e6547c21c8748f9756c479c.jpg" 
                alt="First slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block"
                src="https://i.pinimg.com/236x/bd/54/1a/bd541a5172a51d5dd066ca4c71dc8e9b.jpg"
                alt="Second slide"
              />
            </div>
            <div class="carousel-item">
              <img
                class="d-block"
                src="https://i.pinimg.com/236x/ba/a4/46/baa44620954380b65d760f3818184523.jpg"
                alt="Third slide"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div> -->
      <div class="col align-self-center"> 
        <p class="about">
        <b><i>Indian art consists of a variety of art forms, including painting, sculpture, pottery, and textile arts
          such as woven silk. Geographically, it spans the entire Indian subcontinent, including what is now India,
          Pakistan, Bangladesh, Sri Lanka, Nepal, and at times eastern Afghanistan. A strong sense of design is 
          characteristic of Indian art and can be observed in its modern and traditional forms.
          The origin of Indian art can be traced to prehistoric settlements in the 3rd millennium BCE. 
          On its way to modern times, Indian art has had cultural influences, as well as religious influences
          such as Hinduism, Buddhism, Jainism, Sikhism and Islam. In spite of this complex mixture of religious traditions,
          generally, the prevailing artistic style at any time and place has been shared by the major religious groups.
          In historic art, sculpture in stone and metal, mainly religious, has survived the Indian climate better than other
          media and provides most of the best remains. Many of the most important ancient finds that are not in carved stone 
          come from the surrounding, drier regions rather than India itself. Indian funeral and philosophic traditions exclude
          grave goods, which is the main source of ancient art in other cultures.
          Indian artist styles historically followed Indian religions out of the subcontinent,
          having an especially large influence in Tibet, South East Asia and China. Indian art has itself received 
          influences at times, especially from Central Asia and Iran, and Europe.</i></b>
          
        </p>
      </div>
    </div>
  </div>
  <h3 class="text-center text-info fw-bold py-4">DIFFERENT ART FORMS</h3>
      <div class="container-fluid text-center">
        <div class="row flexDiv py-4">

          <div class="col-3 card1Div">
            <div class="card1">
              <img src="https://i.pinimg.com/236x/90/f3/31/90f331d177f2c2910e14358b7d940ab2.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-info bg-gradient">
                <p class="card-text text-uppercase text-center text-light"></p>
              </div>
            </div>
          </div>

          <div class="col-3 card1Div">
            <div class="card1">
              <img src="https://i.pinimg.com/236x/f6/17/98/f61798243463f961254003f5bb3262d6.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-info bg-gradient">
                <p class="card-text text-uppercase text-center text-light"></p>
              </div>
            </div>
          </div>

          <div class="col-3 card1Div">
            <div class="card1">
              <img src="https://i.pinimg.com/236x/8f/5d/af/8f5daf464b74b6992d6bcb0aad6388b2.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-info bg-gradient">
                <p class="card-text text-uppercase text-center text-light"></p>
              </div>
            </div>
          </div>

          <div class="col-3 card1Div">
            <div class="card1">
              <img src="https://i.pinimg.com/236x/2e/ef/d8/2eefd8aea810205b66efd999fe1ed9a0.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-info bg-gradient">
                <p class="card-text text-uppercase text-center text-light"></p>
              </div>
            </div>
          </div>

          
      